body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111;
  padding: 20px;
  border-right: 2px solid purple;
}

.sidebar h2 {
  color: purple;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: 1px solid purple;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: purple;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 30px;
}

/* TABS */
.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* CARD */
.card {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  border: 1px solid purple;
  box-shadow: 0 0 15px purple;
}

.card img {
  border-radius: 50%;
}

/* BOTÃO ADD */
.add {
  margin-top: 20px;
  padding: 10px;
  background: purple;
  border: none;
  cursor: pointer;
}

/* TEMA CLARO */
.light {
  background: #eee;
  color: black;
}
