body {
  margin:0;
  font-family:Arial;
  color:white;
  overflow:hidden;
}

/* FUNDO */
.bg {
  position:fixed;
  width:100%;
  height:100%;
  background:url("https://images.unsplash.com/photo-1549880181-56a44cf4a9a5") center/cover;
  filter: blur(8px) brightness(0.5);
  z-index:-2;
}

/* NEVE */
#snow {
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}

/* LAYOUT */
.layout {
  display:flex;
  height:100vh;
}

/* ESQUERDA */
.left {
  width:40%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

/* PERSONAGEM */
#character {
  width:250px;
  height:350px;
  border-radius:20px;

  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);

  box-shadow:0 0 30px #c77dff;
}

/* REDES */
.socials {
  margin-top:20px;
}

.item {
  margin:10px 0;
  position:relative;
  cursor:pointer;
}

/* TEXTO JAPONES */
.item span {
  font-size:18px;
  letter-spacing:2px;
}

/* HOVER */
.hover {
  position:absolute;
  left:120%;
  top:0;

  background:rgba(0,0,0,0.8);
  padding:10px;
  border-radius:10px;

  display:none;
}

.item:hover .hover {
  display:block;
}

/* DIREITA */
.right {
  width:60%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:40px;
}
